.navbtn {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    background: #217BF4;
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
    border-radius: 14px;
    text-decoration: none;
    cursor: pointer;
}

.navbtn:hover {
background: #334de6;
box-shadow: 0 0 30px 1px #bdd0fb;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
}

.navbar {

}

.navbar_brand {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    color: #2B2B39 !important;
}

.nav_link {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    letter-spacing: 0.01em;
    color: #2B2B39;
}