ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar{
    height: var(--nav-size);
    background-color: #005b6f;
    padding: 0 1rem;
    border-bottom: 3px;
}

.nav{
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.item{
    width: calc(var(--nav-size) * 0.8); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    --button-size:calc(var(--nav-size)*0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #c4f4ff;
    border-radius: 30%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.button:hover{
    filter: brightness(1.2);
}