.mainContainer {
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  35px 35px 70px #d9d9d9,
                 -35px -35px 70px #ffffff;
    width: 900px;
    height: 600px;
    justify-content: center;
    /* text-align: center; */
}