.card {
    width: 25rem;
    height: 35rem;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
    position: relative;
    margin: 10% 37%;
    padding: 0px 0px 0px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
   }
   
   .card2 {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    width: 25rem;
    height: 35rem;
    background: #f3f3f3;
    border-radius:18px;
    transition: all .2s;
   }
   
   .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   .card2 h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .card2 input{
      margin: 5% 15% 4%;
      border: none;
      padding: 1rem;
      border-radius: 1rem;
      background: #e0e0e0;
      box-shadow:  27px 27px 54px #e7e7e7,-27px -27px 54px #ffffff; 
      transition: 0.3s;
  }
  .card2 input:focus{
    outline-color: #e8e8e8;
    background: #fbfbfb;
    box-shadow: 10px 10px 30px #e8e8e8,-10px -10px 30px #ffffff;
    transition: 0.3s;

  }

  .card2 button {
    font-weight: 400;
    width: 8rem;
    margin: 3% 32%; 
    padding: 17px 27px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .5s ease;
   }
   
   button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
   }
   
   button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }
   .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }


.container{
    border-radius: 18px;
    background: #f3f3f3;
    box-shadow:  27px 27px 54px #e7e7e7,-27px -27px 54px #ffffff;
    position: relative;
    margin: 10% 35%;
    padding: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}  
.container h1 {
  font-size: 40px;
  font-weight: 600;
}

.container input{
    margin: 2% 20%;
}
