.input {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    /* background: #e8e8e8;
    box-shadow: 10px 10px 50px #e4e4e4,-10px -10px 50px #ffffff; */
    background: #ebebeb;
    box-shadow: 10px 10px 30px #e8e8e8,-10px -10px 30px #ffffff;
    transition: 0.3s;
}
   
.input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}