.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  label {
    font-weight: 500;
    font-size: 1rem;
  }
  input {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #fbfbfb;
    box-shadow: 10px 10px 30px #e8e8e8,-10px -10px 30px #ffffff;
    transition: 0.3s;
   }
   
   input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
       inset -20px -20px 60px #ffffff;
    transition: 0.3s;
   }


  /* input {
    border: 1px solid #cccccc;
    outline: none;
    padding: 10px 12px;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  input:hover {
    border: 1px solid #adadad;
  }
  
  input:focus {
    border: 1px solid #239ce2;
  } */